.classpath
.project
.settings
.factorypath
target
*.log
dependency-reduced-pom.xml
.DS_Store
.ipynb_checkpoints
node_modules
/deep-learning-on-flink/.bazelrc
/deep-learning-on-flink/bazel-*
/deep-learning-on-flink/native/bazel-*
/deep-learning-on-flink/bazel_pip
/deep-learning-on-flink/pip_test
/deep-learning-on-flink/_python_build
*.py[cod]
__pycache__
.pytest_cache
*.swp
.vscode/
cmake_build/
.idea/**
/deep-learning-on-flink/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
tfOnFlink/python/var
deep-learning-on-flink/**/bin
#**/*.so
**/*.dylib
**/temp

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

core/python/cmake-build-debug

# generated python pb

# python
**/*.egg-info
**/.eggs
**/*.whl

alibaba/porsche-docker/build-venv/python/
