.classpath
.project
.settings
.factorypath
target
*.log
dependency-reduced-pom.xml
.DS_Store
.ipynb_checkpoints
node_modules
/deep-learning-on-flink/.bazelrc
/deep-learning-on-flink/bazel-*
/deep-learning-on-flink/native/bazel-*
/deep-learning-on-flink/bazel_pip
/deep-learning-on-flink/pip_test
/deep-learning-on-flink/_python_build
*.py[cod]
__pycache__
.pytest_cache
*.swp
.vscode/
cmake_build/
.idea/**
/deep-learning-on-flink/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
tfOnFlink/python/var
deep-learning-on-flink/**/bin
#**/*.so
**/*.dylib
**/*.egg-info
**/temp

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild
deep-learning-on-flink/flink-ml-framework/python/flink_ml_framework/*pb2.py
deep-learning-on-flink/flink-ml-framework/python/flink_ml_framework/*pb2_grpc.py

core/python/cmake-build-debug

# generated python pb


alibaba/porsche-docker/build-venv/python/

# flink-ai-flow

flink-ai-flow/ai_flow.egg-info/*
flink-ai-flow/ai_flow/test/endpoint/aiflow.db
flink-ai-flow/ai_flow/test/api/workflow_config.json
flink-ai-flow/ai_flow/test/common/test.yaml
flink-ai-flow/examples/simple_examples/logs/*
flink-ai-flow/examples/simple_examples/temp/*
flink-ai-flow/flink_ai_flow/tests/python_codes/word_count_output.csv
flink-ai-flow/flink_ai_flow/.idea
flink-ai-flow/flink_ai_flow/*.iml
flink-ai-flow/flink_ai_flow/dist
flink-ai-flow/flink_ai_flow/python/.idea
flink-ai-flow/flink_ai_flow/python/*.iml
flink-ai-flow/python_ai_flow/test/logs/*.log
flink-ai-flow/python_ai_flow/test/python_codes/base_example_component/*.npy
flink-ai-flow/python_ai_flow/test/python_codes/base_example_component/*.npz
flink-ai-flow/python_ai_flow/test/python_codes/base_example_component/*.txt
flink-ai-flow/python_ai_flow/test/python_codes/base_example_component/pandas_output.csv
flink-ai-flow/python_ai_flow/test/python_codes/evaluate_component/batch_evaluate
flink-ai-flow/python_ai_flow/test/python_codes/evaluate_component/saved_models/*
flink-ai-flow/python_ai_flow/test/temp/*
flink-ai-flow/venv/*
flink-ai-flow/dist/*


# Airflow configuration
flink-ai-flow/lib/airflow/airflow.cfg
flink-ai-flow/lib/airflow/unittests.cfg
flink-ai-flow/lib/airflow/airflow_login.py
flink-ai-flow/lib/airflow/dbinit.py
flink-ai-flow/lib/airflow/initdb.py
flink-ai-flow/lib/airflow/secrets.py

# Airflow sqlite databases
flink-ai-flow/lib/airflow/airflow.db
flink-ai-flow/lib/airflow/unittests.db


# Airflow temporary artifacts
flink-ai-flow/lib/airflow/airflow/git_version
flink-ai-flow/lib/airflow/airflow/www/static/coverage/
flink-ai-flow/lib/airflow/airflow/www/static/dist
flink-ai-flow/lib/airflow/airflow/www_rbac/static/coverage/
flink-ai-flow/lib/airflow/airflow/www_rbac/static/dist/

flink-ai-flow/**/logs/
flink-ai-flow/**/saved_model/
flink-ai-flow/**/pushed_model/
flink-ai-flow/lib/airflow/airflow-webserver.pid

# Byte-compiled / optimized / DLL files
flink-ai-flow/lib/airflow/**/*$py.class

# C extensions
flink-ai-flow/lib/airflow/*.so

# Distribution / packaging
flink-ai-flow/lib/airflow/.Python
flink-ai-flow/lib/airflow/env/
flink-ai-flow/lib/airflow/build/
flink-ai-flow/lib/airflow/develop-eggs/
flink-ai-flow/lib/airflow/dist/
flink-ai-flow/lib/airflow/downloads/
flink-ai-flow/lib/airflow/eggs/
flink-ai-flow/lib/airflow/.eggs/
flink-ai-flow/lib/airflow/lib/
flink-ai-flow/lib/airflow/lib64/
flink-ai-flow/lib/airflow/parts/
flink-ai-flow/lib/airflow/sdist/
flink-ai-flow/lib/airflow/var/
flink-ai-flow/lib/airflow/wheels/
flink-ai-flow/lib/airflow/*.egg-info/
flink-ai-flow/lib/airflow/.installed.cfg
flink-ai-flow/lib/airflow/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
flink-ai-flow/lib/airflow/*.manifest
flink-ai-flow/lib/airflow/*.spec

# Installer logs
flink-ai-flow/lib/airflow/pip-log.txt
flink-ai-flow/lib/airflow/pip-delete-this-directory.txt

# Unit test / coverage reports
flink-ai-flow/lib/airflow/htmlcov/
flink-ai-flow/lib/airflow/.coverage
flink-ai-flow/lib/airflow/.coverage.*
flink-ai-flow/lib/airflow/.cache
flink-ai-flow/lib/airflow/nosetests.xml
flink-ai-flow/lib/airflow/coverage.xml
flink-ai-flow/lib/airflow/*.cover
flink-ai-flow/lib/airflow/.hypothesis/
flink-ai-flow/lib/airflow/.pytest_cache

# Translations
flink-ai-flow/lib/airflow/*.mo
flink-ai-flow/lib/airflow/*.pot

# Django stuff:
# *.log
flink-ai-flow/lib/airflow/local_settings.py

# Flask stuff:
flink-ai-flow/lib/airflow/instance/
flink-ai-flow/lib/airflow/.webassets-cache
flink-ai-flow/lib/airflow/webserver_config.py

# Scrapy stuff:
flink-ai-flow/lib/airflow/.scrapy

# Sphinx documentation
flink-ai-flow/lib/airflow/docs/_build/
flink-ai-flow/lib/airflow/docs/_api/

# PyBuilder
flink-ai-flow/lib/airflow/target/

# Jupyter Notebook
flink-ai-flow/lib/airflow/.ipynb_checkpoints

# pyenv
flink-ai-flow/lib/airflow/.python-version

# celery beat schedule file
flink-ai-flow/lib/airflow/celerybeat-schedule

# SageMath parsed files
flink-ai-flow/lib/airflow/*.sage.py

# dotenv
flink-ai-flow/lib/airflow/.env
flink-ai-flow/lib/airflow/.autoenv*.zsh

# virtualenv
flink-ai-flow/lib/airflow/.venv*
flink-ai-flow/lib/airflow/venv*
flink-ai-flow/lib/airflow/ENV/

# Spyder project settings
flink-ai-flow/lib/airflow/.spyderproject

# Rope project settings
flink-ai-flow/lib/airflow/.ropeproject

# PyCharm
flink-ai-flow/lib/airflow/.idea/
flink-ai-flow/lib/airflow/*.iml

# Visual Studio Code
flink-ai-flow/lib/airflow/.vscode/

# vim
flink-ai-flow/lib/airflow/*.swp

# Emacs
flink-ai-flow/lib/airflow/*~
flink-ai-flow/lib/airflow/\#*\#
flink-ai-flow/lib/airflow/.emacs.desktop
flink-ai-flow/lib/airflow/.emacs.desktop.lock
flink-ai-flow/lib/airflow/*.elc
flink-ai-flow/lib/airflow/auto-save-list
flink-ai-flow/lib/airflow/tramp
flink-ai-flow/lib/airflow/.\#*

# SQL Server backups
flink-ai-flow/lib/airflow/*.bkp

# Spark
flink-ai-flow/lib/airflow/rat-results.txt

# Git stuff
flink-ai-flow/lib/airflow/.gitattributes
# Kubernetes generated templated files
flink-ai-flow/lib/airflow/*.generated
flink-ai-flow/lib/airflow/*.tar.gz
flink-ai-flow/lib/airflow/scripts/ci/in_container/kubernetes/kube/.generated/airflow.yaml
flink-ai-flow/lib/airflow/scripts/ci/in_container/kubernetes/docker/requirements.txt

# Node & Webpack Stuff
flink-ai-flow/lib/airflow/*.entry.js
flink-ai-flow/lib/airflow/node_modules
flink-ai-flow/lib/airflow/npm-debug.log*
flink-ai-flow/lib/airflow/derby.log
flink-ai-flow/lib/airflow/metastore_db

# Airflow log files when airflow is run locally
flink-ai-flow/lib/airflow/airflow-*.err
flink-ai-flow/lib/airflow/airflow-*.out
flink-ai-flow/lib/airflow/airflow-*.log
flink-ai-flow/lib/airflow/airflow-*.pid
flink-ai-flow/lib/airflow/.airflow_db_initialised

# mypy
flink-ai-flow/lib/airflow/.mypy_cache/
flink-ai-flow/lib/airflow/.dmypy.json
flink-ai-flow/lib/airflow/dmypy.json

# Needed for CI Dockerfile.ci build system
flink-ai-flow/lib/airflow/.build
flink-ai-flow/lib/airflow/tmp
flink-ai-flow/lib/airflow/files

flink-ai-flow/lib/airflow/hive_scratch_dir/
flink-ai-flow/lib/airflow/.bash_aliases
flink-ai-flow/lib/airflow/.bash_history
flink-ai-flow/lib/airflow/.kube
flink-ai-flow/lib/airflow/.inputrc
flink-ai-flow/lib/airflow/log.txt*
