$colorBlue = #20A0FF
$colorLightBlue = #58B7FF
$colorDarkBlue = #1D8CE0
$colorGreen = #13CE66
$colorYellow = #F7BA2A
$colorRed = #F56C6C
$colorDark = #111111
$colorLessDark = #222222
$colorExtraLessDark = #333333
$colorBlack = #1F2D3D
$colorLightBlack = #324057
$colorExtraLightBlack = #475669
$colorSilver = #8492A6
$colorLightSilver = #99A9BF
$colorExtraLightSilver = #C0CCDA
$colorGray = #D3DCE6
$colorLightGray = #E5E9F2
$colorExtraLightGray = #EFF2F7
$colorDarkWhite = #F9FAFC
$colorWhite = #FFFFFF
$colorDashboardDark = #111d31
$colorDefaultBlack = #303133
